:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-family: Poppins;
  color: rgba(255, 255, 255, 1);
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*here i am importing same fonts which were mentioned in figma files */
@font-face {
  font-family: 'YapariTrial';
  src: url('/fonts/YapariTrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YapariTrial';
  src: url('/fonts/YapariTrial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*Delete faaltu ka code*/

/*this will ensure that all the content will cover the whole of webpage */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*here i am creating the exact background which was mentioned in figma*/
body {
  background-image:
  
  linear-gradient(/* vertical lines */
  to right,
  rgba(255, 255, 255, 0.05) 1px,
  transparent 1px
  ),
  
  linear-gradient(/* horizontal lines */
  to bottom,
  rgba(255, 255, 255, 0.05) 1px,
  transparent 1px
  );
  
  background-size: 70px 70px; /* 70px ke grid squares */

  min-height: 100vh; /* to cover entire viewport */
}